:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --background-btn-color: #F5F4FA;
    --background-footer-color: #2F303A;
    --footer-color: rgba(255, 255, 255, 0,6);
}

body{
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
button{
    font-family: inherit;
}

/* цвет основного текста #212121 */
/* цвет вспом текста #757575 */
/* белый #ffffff */
/* акцент синий #2196f3 */

.logo,
.studio{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo{
    color: var(--accent-color);
}
.page-header .studio{
    color: #000000;    
}
/* nav */
.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
/* auth */
.auth-mail,
.auth-tel{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.auth-mail:hover,
.auth-mail:focus,
.auth-tel:hover,
.auth-tel:focus{
    color: var(--accent-color);
}
.page-header{
    margin-left: 0px;
}
/* main */
.portfolio{
    margin-top: 94px;
    margin-bottom: 94px;
}

/* filter */
.filter{
    padding-bottom: 50px;
}
.button{
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: var(--background-btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    cursor: pointer;
}
.filter .button.secondary:hover,
.filter .button.secondary:focus,
.button.primary{
    color: var(--white-color);
    background-color: var(--accent-color);
}
.button.secondary{
    color: var(--title-text-color);
    background-color: var(--background-btn-color);
}
/* cards */
.cards .title{
    margin-top: 20px;
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.cards a{
    text-decoration: none;
}
.cards p{
    color:var(--primary-text-color) ;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

/* hero */
.hero{
    margin-bottom: 94px;
    text-align: center;
    background-color: #000000;
}
.hero-title{
    margin-top: 0px;
    margin-bottom: 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-btn{
    border-radius: 4px;
    border: 0px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-decoration: none;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #188CE8;    ;
}

/* section */
p{
    margin-top: 0;
    margin-bottom: 0;
}
.indent{
    margin-bottom: 94px;
}
.people{
    padding-top: 94px;
    background-color: #F5F4FA;
}
.peculiarities .section-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.peculiarities p{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.section-title{
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.name{
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.command p{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer */
.footer{
    background-color: var(--background-footer-color);
}
.footer .studio{
    color: var(--white-color);
}
.address a{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
}
.address .mail,
.address .tel{
    color: var(--footer-color);
}
.address .maps{
    color: var(--white-color);
}
.address a:hover,
.address a:focus{
    color: var(--white-color);
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}